{%extends "basetemplate.html" %}
    {%block title %}
	    <title>TripCaster</title>
    {%endblock%}
    {%block content%}
    {% load static %}
    <body>
        <div class="centered">
            <h1>
                TripCaster
            </h1>
            <span>Please note that weather forecast accuracy is dramatically lower past 10 days.</span>
        </div>
        <div id="root">

        </div>
        <footer class="centered">
            <span>
                Created by <a href="https://lucasdpau.github.io">Lucas P.</a>
            </span>
        </footer>
        <!-- Load React. -->
        <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
        <script src="https://unpkg.com/react@16/umd/react.production.min.js"" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"" crossorigin></script>
        <!-- Load our React component. -->
        <script type="text/javascript" src="{% static 'app1/index.js' %}"></script>
    </body>
    {%endblock%}