{%extends "basetemplate.html" %}
    {%block title %}
	    <title>TripCaster</title>
    {%endblock%}
    {%block content%}
    {% load static %}
    <body>
        <div class="centered">
            <h1>
                TripCaster
            </h1>
            <span>Please note that weather forecasts dramatically lose accuracy past 10 days.</span>
        </div>
        <div id="root">

        </div>
        <footer class="centered">
            <span>
                Created by <a href="https://lucasdpau.github.io">Lucas P.</a>
            </span>
        </footer>
        <!-- Load React. -->
        <script type="text/javascript" src="{% static 'app1/dist/index.bundle.js' %}"></script>
    </body>
    {%endblock%}